@model IEnumerable<REM.Models.VenueImage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">

<!-- Image grid -->
<div class="mb-3">
    <h6 class="mb-0 font-weight-semibold">
        Media
    </h6>
</div>

<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/Assets/images/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/Assets/images/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">For ostrich much</div>
                        <span class="font-size-sm text-muted">Size: 432kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/Assets/images/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/Assets/images/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">An so vulgar</div>
                        <span class="font-size-sm text-muted">Size: 543kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/Assets/images/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/Assets/images/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Not rapturous</div>
                        <span class="font-size-sm text-muted">Size: 219kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/Assets/images/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/Assets/images/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">He it otherwise</div>
                        <span class="font-size-sm text-muted">Size: 329kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/Assets/images/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/Assets/images/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Unfeeling agreeable</div>
                        <span class="font-size-sm text-muted">Size: 329kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/Assets/images/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/Assets/images/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">So come must</div>
                        <span class="font-size-sm text-muted">Size: 329kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/Assets/images/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/Assets/images/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Do on unpleasing</div>
                        <span class="font-size-sm text-muted">Size: 938kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/Assets/images/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/Assets/images/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Yet joy exquisite</div>
                        <span class="font-size-sm text-muted">Size: 493kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/Assets/images/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/Assets/images/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Behind lovers</div>
                        <span class="font-size-sm text-muted">Size: 378kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/Assets/images/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/Assets/images/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Whole every miles</div>
                        <span class="font-size-sm text-muted">Size: 983kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/Assets/images/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/Assets/images/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Wished he entire</div>
                        <span class="font-size-sm text-muted">Size: 763kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/Assets/images/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/Assets/images/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">He prevent request</div>
                        <span class="font-size-sm text-muted">Size: 348kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/Assets/images/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/Assets/images/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Picture too and</div>
                        <span class="font-size-sm text-muted">Size: 328kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/Assets/images/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/Assets/images/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Ten difficult resembled</div>
                        <span class="font-size-sm text-muted">Size: 473kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/Assets/images/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/Assets/images/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Same park bore</div>
                        <span class="font-size-sm text-muted">Size: 573kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <img class="card-img img-fluid" src="~/Content/Assets/images/placeholder.jpg" alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="~/Content/Assets/images/placeholder.jpg" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round" data-popup="lightbox" rel="group">
                        <i class="icon-plus3"></i>
                    </a>

                    <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round ml-2">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Warmth his law</div>
                        <span class="font-size-sm text-muted">Size: 893kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /image grid -->
<!-- Video grid -->
<div class="mb-3 pt-2">
    <h6 class="mb-0 font-weight-semibold">
        Video grid
    </h6>
    <span class="text-muted d-block">Video grid with 4 - 2 - 1 columns</span>
</div>

<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <div class="card-img embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/126945693?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">For ostrich much</div>
                        <span class="font-size-sm text-muted">Size: 432kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <div class="card-img embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/89546048?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">An so vulgar</div>
                        <span class="font-size-sm text-muted">Size: 543kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <div class="card-img embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/126580704?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Not rapturous</div>
                        <span class="font-size-sm text-muted">Size: 219kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <div class="card-img embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/127790272?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">He it otherwise</div>
                        <span class="font-size-sm text-muted">Size: 329kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <div class="card-img embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/127628756?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Unfeeling agreeable</div>
                        <span class="font-size-sm text-muted">Size: 329kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <div class="card-img embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/164841921?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">So come must</div>
                        <span class="font-size-sm text-muted">Size: 329kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <div class="card-img embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/125791075?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Do on unpleasing</div>
                        <span class="font-size-sm text-muted">Size: 938kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <div class="card-img embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/126545288?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Yet joy exquisite</div>
                        <span class="font-size-sm text-muted">Size: 493kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <div class="card-img embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/127051771?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Behind lovers</div>
                        <span class="font-size-sm text-muted">Size: 378kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <div class="card-img embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/126833748?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Whole every miles</div>
                        <span class="font-size-sm text-muted">Size: 983kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <div class="card-img embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/127295085?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Wished he entire</div>
                        <span class="font-size-sm text-muted">Size: 763kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <div class="card-img embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/126177413?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">He prevent request</div>
                        <span class="font-size-sm text-muted">Size: 348kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <div class="card-img embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/127423845?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Picture too and</div>
                        <span class="font-size-sm text-muted">Size: 328kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <div class="card-img embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/124024544?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Ten difficult resembled</div>
                        <span class="font-size-sm text-muted">Size: 473kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <div class="card-img embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/126897736?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Same park bore</div>
                        <span class="font-size-sm text-muted">Size: 573kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-xl-3">
        <div class="card">
            <div class="card-img-actions mx-1 mt-1">
                <div class="card-img embed-responsive embed-responsive-16by9">
                    <iframe allowfullscreen="" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/173541384?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen=""></iframe>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex align-items-start flex-nowrap">
                    <div>
                        <div class="font-weight-semibold mr-2">Warmth his law</div>
                        <span class="font-size-sm text-muted">Size: 893kb</span>
                    </div>

                    <div class="list-icons list-icons-extended ml-auto">
                        <a href="#" class="list-icons-item"><i class="icon-download top-0"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-bin top-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /video grid -->
			</div>
